apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

replicas:
  - name: demo-app
    count: 1

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: demo-app
      spec:
        template:
          spec:
            securityContext:
              runAsNonRoot: true
              runAsUser: 101
              fsGroup: 101
              seccompProfile:
                type: RuntimeDefault
            containers:
              - name: nginx
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                      - ALL
                  readOnlyRootFilesystem: false
                  runAsNonRoot: true
                  runAsUser: 101