apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

replicas:
  - name: demo-app
    count: 1

patchesStrategicMerge:
  - ingress-patch.yaml

configMapGenerator:
  - name: demo-app-html
    behavior: merge
    literals:
      - env=development
